body {
    font-family: Arial, sans-serif;
    background-image: url('Bilder/Hintergrund.png');
    background-size: cover;}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);}

header {text-align: center; margin-bottom: 20px;}

main {padding: 20px;}

button, .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #185a46;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: help;}

button, .button1  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #185a46;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: help;
    margin-left: 1rem;}

button:hover, .button:hover {background-color: #0d3528; cursor: help;}
button:hover, .button1:hover {background-color: #0d3528; cursor: help;}

table {width: 100%;border-collapse: collapse;}

th, td {border: 1px solid #ddd;padding: 8px;text-align: left;}

th {background-color: #f2f2f2;}

ul {list-style-type: none;
    padding: 0; }

li {padding: 5px 0; }

#A1 {width: 70%; height: auto; margin-bottom: 1rem;}
#A2 {width: 40%; height: auto; margin-bottom: 1rem;}